{% extends 'base.html' %}

{% block content %}

<h1>Obecna pogoda:</h1>
<br/>

{% if api %}
    {%if api == "Error..."%}
        Błąd wczytywania, spróbuj później...
    {% else %}
        Godzina: {{ api.0.LocalObservationDateTime }}</br>
        Warunki pogodowe: {{ api.0.WeatherText }}</br>
        Temperatura: {{ api.0.Temperature.Metric.Value }}  &deg{{ api.0.Temperature.Metric.Unit }}</br>
        Temperatura odczuwalna: {{ api.0.RealFeelTemperature.Metric.Value }}  &deg{{ api.0.RealFeelTemperature.Metric.Unit }}</br>
        Zachmurzenie: {{ api.0.CloudCover }}%</br>
        Wiatr: {{ api.0.Wind.Direction.Degrees }} {{ api.0.Wind.Speed.Metric.Value }} {{ api.0.Wind.Speed.Metric.Unit }}</br>
        Ciśnienie: {{ api.0.Pressure.Metric.Value }} {{ api.0.Pressure.Metric.Unit }} {{ api.0.Wind.PressureTendency.LocalizedText }}</br>
        Źrodło: {{ api.0.Link }}</br></br>
    {% endif %}
{% endif %}

{% endblock %}